body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: black;
  font-weight: bold;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

#orders {
  border: 1px solid #ccc;
}

#orders td {
  border-top: 1px solid #ccc;
}
